*.pyc
__pycache__/

.vscode/

.idea/

output/

datasets/MULTIWOZ/*

datasets/MULTIWOZ_BAHASA/annotations/*
datasets/MULTIWOZ_BAHASA/bert_features/*
datasets/MULTIWOZ_BAHASA/cooked_corpus/*
datasets/MULTIWOZ_BAHASA/concats/*
datasets/MULTIWOZ_BAHASA/tsvs/*


bert/corpus/*

bert/models/multi_cased_L-12_H-768_A-12/bert_model*
bert/models/bahasa_cased_L-12_H-768_A-12/bert_model*
/datasets/MULTIWOZ_BAHASA/parallels/ID2EN/
/datasets/MULTIWOZ_BAHASA/parallels/EN2ID/
